---
import Navigation from "./Navigation.astro";
import Menu from "./Menu.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<style>
  /* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
  } */

  div {
    display: flex;
    justify-content: space-between;
  }
</style>

<header>
  <nav>
    <div>
      <ThemeIcon />
      <Menu />
    </div>
    <Navigation />
  </nav>
</header>
